.container {
    background-color: #f4f4f4;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    border-top: 1px solid #ddd;
    text-align: center;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textWrapper {
    margin-bottom: 20px;
}

.contact {
    font-size: 16px;
    color: #555;
}

.description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 30px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 40px; /* 아이콘 간 간격 조정 */
    margin-bottom: 20px;
}

.socialIcons a {
    text-decoration: none;
    color: #555;
    font-size: 30px; /* 아이콘 크기 */
    transition: color 0.2s;
}

.socialIcons a:hover {
    color: #007bff;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    padding: 5px 10px; /* 버튼 크기 줄임 */
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #0056b3;
}

.copyRight {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}
